*{

}


#homefeed{
    padding-top: 75px;
    padding-bottom: 100px;
}

#newpostbutton{
    color: white;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: royalblue;
    border-radius: .25rem;
    margin-left: 80vw;
    margin-top: 90vh;
    position: fixed;
    font-size: 1.25rem;
    border-radius: 4rem;
    border: 0;
    box-shadow: none;
    z-index: 5;
}