body {
    background: #00b5ec;
}

.header-container {
    margin-top: 20px;
}

.text-white {
    color: #fff !important;
}

#bookMarkIcon {
    width: 20px;
    height: auto;
}

#galleryIcon {
    width: 30px;
    height: auto;
}

#gearIcon {
    width: 25px;
    height: auto;
}

.ui-w-100 {
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.profUsername {
    text-align: center;
}

#newpostbutton {
    color: white;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: royalblue;
    border-radius: .25rem;
    right: 5vw;
    bottom: 3vh;
    position: fixed;
    font-size: 1.25rem;
    border-radius: 4rem;
    border: 0;
    box-shadow: none;
    z-index: 5;
    outline: none;
}

.tabs-alt.nav-tabs .nav-link.active,
.tabs-alt.nav-tabs .nav-link.active:hover,
.tabs-alt.nav-tabs .nav-link.active:focus,
.tabs-alt>.nav-tabs .nav-link.active,
.tabs-alt>.nav-tabs .nav-link.active:hover,
.tabs-alt>.nav-tabs .nav-link.active:focus {
    -webkit-box-shadow: 0 -2px 0 #26B4FF inset;
    box-shadow: 0 -2px 0 #26B4FF inset;
}

.nav-tabs:not(.nav-fill):not(.nav-justified) .nav-link,
.nav-pills:not(.nav-fill):not(.nav-justified) .nav-link {
    margin-right: .125rem;
}

.nav-tabs.tabs-alt .nav-link,
.tabs-alt>.nav-tabs .nav-link {
    border-width: 0 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
}

.nav-tabs .nav-link.active {
    border-bottom-color: #fff;
}

#numlikesnumcomments p{
    display: inline;
}