#origindest{
    font-size: 1.25rem;
}

#postcardimg{
    width: 153px;
    border-radius: .3rem;
}

#likebutton{ 
    color: white;
    background: royalblue;
}

#commentbutton{
    color: white;
    background: royalblue;
}

#savebutton{
    color: white;
    background: royalblue;
}

#numcomments:hover{
    cursor: pointer;
}