.price{
    font-size: 1.2rem;
    font-style: normal;
    position: relative;
    top: -.1em;
}

.price i{
    font-style: normal;
}

.full-dollar:after{
    content: "\FF04";
    font-weight: 900;
}

.empty-dollar:after{
    content: "\FF04";
    font-weight: 300;
}