.container {
    margin-top: 0em;
}

#originRow {
    margin-top: -17px;
    margin-bottom: 15px;
}

#destRow {
    margin-top: -15px;
}

#searchButton {
    margin-top: .4rem;
    color: white;
    background: royalblue;
}

@media only screen and (max-width: 700px){
    #collapse{
        width: 100%;
    }
}