.container {
    margin-top: 7em;
}

#originRow {
    margin-top: -17px;
    margin-bottom: 15px;
}

#destRow {
    margin-top: -15px;
}

#searchButton {
    color: white;
    background: royalblue;
}